<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css">
  <script src="https://files.kaiten.ru/web-sdk/v1.min.js"></script>
  <link href="https://files.kaiten.ru/web-sdk/v1.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:700,300,600,800,400&subset=cyrillic,cyrillic-ext,latin" />
</head>

<body>
  <div id="timerLogContent" style="padding: 8px;">
    <label for="logText" class="addon-input-label">Time log</label>
    <input type="text" id="logText" class="addon-input" name="logText" style="width: 100%;">
    <div style="display: flex; margin-top: 16px; align-items: center; justify-content: flex-end; gap: 8px;">
      <button id="cancel" class="addon-btn">Cancel</button>
      <button id="submit" class="addon-btn-primary">Submit log</button>
    </div>
  </div>

  <script src="js/timerLog.js"></script>
</body>

</html>
